<div class="col-xs-12">


  <h2>FAQ</h2>

	<div class="faq-group">
		<p class="faq faq-question">What should I use hexsales.net for?</p>
		<p class="faq faq-answer">The primary concern of this website is to document and visualize what happens within the
			auction house economy of HEX. That means that my first priority is generating concise but meaningful
			reports of certain time slots.</p>
	</div>

  <div class="faq-group">
    <p class="faq faq-question">Where do you get your data from?</p>
    <p class="faq faq-answer">The data is provided by HexEnt and can be found <a target="_blank" href="http://forums.cryptozoic.com/showthread.php?t=40371">here</a>.</p>
  </div>

	<div class="faq-group">
		<p class="faq faq-question">Why don&#39;t you calculate daily differences like <a
				target="_blank" href="http://www.hexprice.com">HexPrice</a> does?</p>
		<p class="faq faq-answer">I think that there is simply not enough traffic to make qualified statements about the
			state of the market for certain articles. For each rarity group a vast majority of sales for most articles happen within one of the two currency markets.
			For example, most <code>Commons</code> are sold for <code>Gold</code>, while most <code>Legendaries</code> are
			sold for <code>Platinum</code>. Most articles are&#39;t even sold regularly enough to check their sales in their
			respective main currency markets. I also don&#39;t think that going for percentage differences in prices is valid
			at the moment. I think you have to include multiple parameters to make meaningful statements about the current
			market situation for a certain article. However, I think that this is simply not possible at the moment, due to
			the lack of traffic. We&#39;ll see what happens once the HEX starts to receive some more attention
			through Steam, etc.
		</p>
	</div>

  <div class="faq-group">
    <p class="faq faq-question">I do have an idea for a feature or other feedback. How can I contact you?</p>
    <p class="faq faq-answer">Feel free to send me an <a href="mailto:me@maximumstock.net">email</a>.</p>
  </div>

	<div class="faq-group">
		<p class="faq faq-question">Is there any way to support you?</p>
		<p class="faq faq-answer">I don&#39;t play much HEX at the moment, but I definitely wouldn&#39;t mind some spare
			Platinum. My IGN is <b>nolo</b>.</p>
	</div>	

</div>
