<div class="col-xs-12">


  <h2>FAQ</h2>

  <div class="faq-group">
    <p class="faq faq-question">Where do you get your data from?</p>
    <p class="faq faq-answer">The data is provided by HexEnt and can be found <a href="http://forums.cryptozoic.com/showthread.php?t=40371">here</a>.</p>
  </div>

  <div class="faq-group">
    <p class="faq faq-question">I do have an idea for a feature or other feedback.</p>
    <p class="faq faq-answer">Feel free to send me an <a href="mailto:cwik@hexsales.net">email</a>.</p>
  </div>

</div>
