<!-- breadcrumb nav -->
<div class="col-xs-12">
    <ol class="breadcrumb">
        <li>hexsales.net</li>
        <li>All Articles</li>
        <li class="active">{{articleName}}</li>
    </ol>
    <hr/>
</div>

<!-- basic details -->
<div class="col-xs-12">
    <div ng-if="articleBasics.type === 'Card'">
        <div>
            <h1>{{::articleName}}</h1>
            <p><strong>Rarity:</strong> {{::articleBasics.rarity || '-'}}</p>
            <p><strong>Type:</strong> {{::articleBasics.type || '-'}}</p>
        </div>
        <div card-img name="{{articleName}}"></div>
    </div>
    <div ng-if="articleBasics.type !== 'Card'">
        <h1>{{::articleName}}</h1>
        <p ng-show="articleBasics.rarity != null"><strong>Rarity:</strong> {{articleBasics.rarity || '-'}}</p>
        <p ng-show="articleBasics.set != null"><strong>Set:</strong> {{articleBasics.setid || '-'}}</p>
        <p ng-show="articleBasics.type != null"><strong>Type:</strong> {{articleBasics.type || '-'}}</p>
    </div>
</div>
<!-- <div class="col-md-3">
  <table class="table table-bordered">
    <tr>
      <td><b>Name:</b></td>
      <td>{{articleBasics.name || articleBasics.internal}}</td>
    </tr>
    <tr>
      <td>Rarity:</td>
      <td>{{articleBasics.rarity || '-'}}</td>
    </tr>
    <tr>
      <td>Set ID:</td>
      <td>{{articleBasics.setid || '-'}}</td>
    </tr>
    <tr>
      <td>Type:</td>
      <td>{{articleBasics.type || '-'}}</td>
    </tr>
  </table>
</div> -->

<div class="col-xs-12">
    <hr/>
</div>

<!-- summary data -->
<div class="col-xs-12">
    <p>Here is a short summary of basic metrics of sales for <b>{{::articleName}}</b> per currency.</p>
    <table class="table table-striped table-condensed table-bordered">

        <thead>
            <th>Timespan <span class="caret"></span></th>
            <th>Average Price</th>
            <th>Median Price</th>
            <th>Minimum Price</th>
            <th>Maximum Price</th>
            <th>Total Spent</th>
            <th>Quantity Sold</th>
        </thead>

        <tbody>
            <tr ng-repeat="(timeframe, data) in summaryData">
                <td ng-show="isNumber({{timeframe}})">Last {{::timeframe}} days</td>
                <td ng-hide="isNumber({{timeframe}})">{{::timeframe}}</td>
                <td>{{::data.platinum.avg || 0}} P / {{::data.gold.avg || 0}} G</td>
                <td>{{::data.platinum.median || 0}} P / {{::data.gold.median || 0}} G</td>
                <td>{{::data.platinum.min || 0}} P / {{::data.gold.min || 0}} G</td>
                <td>{{::data.platinum.max || 0}} P / {{::data.gold.max || 0}} G</td>
                <td>{{::data.platinum.total || 0}} P / {{::data.gold.total || 0}} G</td>
                <td>{{::data.platinum.quantity || 0}} / {{::data.gold.quantity || 0}}</td>
            </tr>
        </tbody>

    </table>
</div>

<div class="col-xs-12">
    <hr/>
</div>

<!-- history data -->
<!--<highchart id="article-platinum" config="chartConfigs.platinum" class="col-xs-12"></highchart>
<highchart id="article-gold" config="chartConfigs.gold" class="col-xs-12"></highchart>-->
<div class="col-xs-12 chart" id="article-history-platinum"></div>
<div class="col-xs-12 chart" id="article-history-gold"></div>
