<!-- breadcrumb nav -->
<!-- <div class="col-xs-12">
  <ol class="breadcrumb">
    <li class="active">Articles</li>
  </ol>
  <hr/>
</div> -->


<!-- display all articles -->
<div class="col-xs-12">

	<div class="col-md-4">
		<h4>Cards</h4>
		<ul class="list-unstyled" id="card-list">
			
		</ul>
	</div>

  <!-- cards 
  <div class="col-md-4">
    <h4>Cards</h4>
    <ul class="list-unstyled">
      <li ng-repeat="article in allSortedArticles.cards"><a href="#/articles/{{article.name}}">{{article.name}} [ {{article.rarity[0] || '-'}} | {{article.setid || '-'}} ]</a></li>
    </ul>
	</div>-->

  <!-- equipment -->
  <div class="col-md-4">
    <h4>Equipment</h4>
    <ul class="list-unstyled">
      <li ng-repeat="article in allSortedArticles.equipment"><a href="#/articles/{{article.name}}">{{::article.name}} [
					{{::article.rarity[0] || '-'}} | {{::article.setid || '-'}} ]</a></li>
    </ul>
  </div>

  <!-- others -->
  <div class="col-md-4">
    <h4>Other</h4>
    <ul class="list-unstyled">
      <li ng-repeat="article in allSortedArticles.others"><a href="#/articles/{{article.name}}">{{::article.name}} [
					{{::article.rarity[0] || '-'}} | {{::article.setid || '-'}} ]</a></li>
    </ul>
	</div>

</div>
