<!-- history charts -->

<!-- regular history charts -->

<div class="col-xs-12" id="container">
</div>

<div class="col-xs-12">
  <p>lol</p>
  <highchart id="economy-regular-platinum" config="chartConfigs.platinum.regular"></highchart>
  <highchart id="economy-regular-gold" config="chartConfigs.gold.regular"></highchart>
</div>

<div class="col-xs-12">
  <hr/>
</div>

<!-- percentage area history charts -->
<div class="col-xs-12">
  <p>The following graphs show how many units of cards, equipment, etc. were sold per day and rarity. This does <strong>not</strong> include packs.</p>

  <!-- <highchart id="economy-area-platinum" config="chartConfigs.platinum.area"></highchart>
  <highchart id="economy-area-gold" config="chartConfigs.gold.area"></highchart> -->

</div>
