<!-- breadcrumb nav -->
<div class="col-xs-12">
  <ol class="breadcrumb">
		<li>hexsales.net</li>
		<li>Economy</li>
  </ol>
  <hr/>
</div>


<div class="col-xs-12">
	<p>
		Below you can find charts that show how the economy in HEX is changing per day.
	</p>
	<p>
		They show how much Platinum or Gold went through the auction house and how many cards, packs, etc. were sold each
		day.</br>
		You can also see how much Platinum and Gold has gone through the auction house since day one.
</div>


<div class="col-xs-12">
	<hr/>
</div>

<!-- history charts -->

<!-- regular history charts -->
<div class="col-xs-12">
	<div class="chart" id="economy-regular-platinum"></div>
	<div class="chart" id="economy-regular-gold"></div>
</div>


<div class="col-xs-12">
  <hr/>
</div>

<!-- percentage area history charts -->
<!--<div class="col-xs-12 chart" id="economy-area-platinum"></div>
<div class="col-xs-12 chart" id="economy-area-gold"></div>-->
