<div class="col-xs-12">
  <ol class="breadcrumb">
		<li>hexsales.net</li>
		<li>Favorites</li>
  </ol>
  <hr/>
</div>

<div class="col-xs-12">
  <h1>Favorites</h1>
  <p>A list of your favorite articles with some pricing data for the last few days. Favorited articles are stored via cookies in your browser.</p>
  <hr/>
</div>

<div class="col-xs-12">
  <p><button class="btn btn-danger" ng-click="clearFavorites()">Clear all my favorites</button><p>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr ng-repeat="article in favoritesPrices">
        <th style="font-weight: normal;">
          <div>
            <h5>
              <a href="#/articles/{{::article.name}}">{{::article.name}}</a> <fav-list name="{{::article.name}}"></fav-list>
            </h5>

            <div style="float:left; margin-right: 25px;" ng-repeat="pricesByCurrency in article.prices">
              <span ng-repeat="e in pricesByCurrency">
                Avg <span class={{::e.currency.toLowerCase()}}>
                  <b>{{::e.price}} {{e.currency[0].toUpperCase()}}</b></span> (Min <b>{{::e.min}} {{e.currency[0].toUpperCase()}}</b> - Max <b>{{::e.max}} {{e.currency[0].toUpperCase()}}</b>), <b>{{::e.quantity}}</b> sold ({{::e.description}})
                <br/>
              </span>
            </div>
            <div style="clear: left"></div>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>
