<div class="col-xs-12">
  <h3>Search results ({{searchResults.length}})</h3>
	<hr/>
</div>

<div ng-show="sortedSearchResults.cards.length > 0" class="col-md-4 col-xs-12">
  <h4>Cards</h4>
  <ul class="list-unstyled">
    <li ng-repeat="e in sortedSearchResults.cards">
        <a href="#/articles/{{::e.uuid}}">{{::e.name}} [ {{::e.rarity[0] || '-'}} | {{::e.set}} ]</a>
    </li>
  </ul>
</div>


<div ng-show="sortedSearchResults.equipment.length > 0" class="col-md-4 col-xs-12">
  <h4>Equipment</h4>
  <ul class="list-unstyled">
    <li ng-repeat="e in sortedSearchResults.equipment">
      <a href="#/articles/{{::e.uuid}}">{{::e.name}} [ {{::e.rarity[0] || '-'}} | {{::e.setid || '-'}} ]</a>
    </li>
  </ul>
</div>


<div ng-show="sortedSearchResults.others.length > 0" class="col-md-4 col-xs-12">
  <h4>Other</h4>
  <ul class="list-unstyled">
    <li ng-repeat="e in sortedSearchResults.others">
      <a href="#/articles/{{::e.uuid}}">{{::e.name}} [ {{::e.rarity[0] || '-'}} ]</a>
    </li>
  </ul>
</div>
