<div class="col-xs-12">
    <h1>{{::realSetName}}</h1>
    <hr/>
</div>

<!-- summary data -->
<div class="col-xs-12">
    <p>Here is a short summary of basic metrics of sales for articles that belong to <b>{{::realSetName}}</b> per currency.</p>
    <table class="table table-striped table-condensed table-bordered">

        <thead>
            <th>Timespan <span class="caret"></span></th>
            <th>Mean Price</th>
            <th>Minimum Price</th>
            <th>Maximum Price</th>
            <th>Total Spent</th>
            <th>Quantity Sold</th>
        </thead>

        <tbody>
            <tr ng-repeat="(timeframe, data) in summaryData">
                <td ng-show="isNumber({{timeframe}})">Last {{::timeframe}} days</td>
                <td ng-hide="isNumber({{timeframe}})">{{::timeframe}}</td>
                <td><span class="platinum">{{::data.platinum.average || 0}} P</span> / <span class="gold">{{::data.gold.average || 0}} G</span></td>
                <td><span class="platinum">{{::data.platinum.minimum || 0}} P</span> / <span class="gold">{{::data.gold.minimum || 0}} G</span></td>
                <td><span class="platinum">{{::data.platinum.maximum || 0}} P</span> / <span class="gold">{{::data.gold.maximum || 0}} G</span></td>
                <td><span class="platinum">{{::data.platinum.total || 0}} P</span> / <span class="gold">{{::data.gold.total || 0}} G</span></td>
                <td>{{::data.platinum.quantity || 0}} / {{::data.gold.quantity || 0}}</td>
            </tr>
        </tbody>

    </table>
</div>


<!-- summary by rarity data -->
<!--
<div class="col-xs-12">
    <hr/>
    <h4>Summaries by Rarity</h4>
    <p>Here is a list of summaries per timespan per rarity for <b>{{::realSetName}}</b>.</p>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <th>Timespan</th>
            <th>Rarity</th>
            <th>Mean Price</th>
            <th>Total Spent</th>
            <th>Quantity Sold</th>
        </thead>
        <tbody>
            <tr ng-repeat="e in summaryByRarityData">
                <td>Last <b>{{::e.timeframe}}</b> {{ e.timeframe === 1 ? 'day' : 'days' }}</td>
                <td>{{::e.rarity}}</td>
                <td>
                    <span class="platinum">{{::e.data.platinum.average || 0}} P</span> /
                    <span class="gold">{{::e.data.gold.average || 0}} G</span>
                </td>
                <td>
                    <span class="platinum">{{::e.data.platinum.total || 0}} P</span> / 
                    <span class="gold">{{::e.data.gold.total || 0}} G</span>
                </td>
                <td>{{::e.data.platinum.quantity || 0}} / {{::e.data.gold.quantity || 0}}</td>
            </tr>
        </tbody>
    </table>
</div>
-->

<!-- Article list -->
<div class="col-xs-12">
    <h2>Article list ({{articles.length}})</h2>
    <p>Here is a list of all articles that are part of <b>{{::realSetName}}</b> and have been sold at least once since
        release.</p>
    <div id="article-list">
        <table ng-table="articlesTable" show-filter="true" class="table table-striped table-condensed table-bordered">
          <tobdy>
            <tr ng-repeat="row in $data">

              <td data-title="'Name'" sortable="'name'" filter="{ name: 'text' }"><a
                      href="#/articles/{{::row.uuid}}">{{::row.name}}</a><fav-list class="pull-right"
                      name={{::row.name}} uuid={{::row.uuid}}></fav-list></td>
              <td data-title="'Rarity'" sortable="'rarity'" filter="{ rarity: 'text' }">{{::row.rarity}}</td>
              <td data-title="'Type'" sortable="'type'" filter="{ type: 'text' }">{{::row.type}}</td>

            </tr>
          </tbody>
        </table>
    </div>
    <hr/>
</div>
